<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      body{background: skyblue; font-family: verdana; color: #fff; padding: 30px;}
      h1{font-size: 40px; letter-spacing: 2px;}
      p{font-size: 20px;}
      a{font-size: 17px; font: bold; color: blue;}
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Here you will find a treasure of information about the one they call <%= title %></p>
    <a href="/skills">List of Skills</a>
  </body>
</html>
