<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        body{background: skyblue; font-family: verdana; color: #fff; padding: 30px;}
        h1{font-size: 40px; letter-spacing: 2px;}
        p{font-size: 20px;}
        a{font-size: 17px; font: bold; color: blue;}
      </style>
    <title>Express Skills</title>
</head>
<body>
    <a href="/">Home</a><br>
    <a href="/skills">To Skills</a>
    <h1>Skill #<%= skillNum %></h1>
    <h3><%= skill.skill %></h3>
    <h3>Level: <%= skill.level %></h3>
  </body>
</body>
</html>